#{extends 'main.html' /}
#{set title:'Formulários criados' /}

<h2>Formulários criados</h2>

<ul>
	<li>
		<div style="float:left;margin-top:5px;width: 500px;">
			<p href="#" style="font-size:25px;">Formulário id-Título formulário</p>
		</div>
		<div style="margin-left:600px; margin-top:20px;">
			<button class="btn btn-danger px-5">Deletar formulário</button>
			<a href= "@{Professores.editarFormQuestao};" style="background:green; border:none;" class="btn btn-danger px-5">Editar formulário</a>
		</div>
		<hr></hr>
	</li>
</ul>