<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> #{get 'title' /} </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="@{'public/quixlab/images/favicon.png'}">
    <!-- Pignose Calender -->
    <link href="@{'public/quixlab/./plugins/pg-calendar/css/pignose.calendar.min.css'}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="@{'public/quixlab/./plugins/chartist/css/chartist.min.css'}">
    <link rel="stylesheet" href="@{'public/quixlab/./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css'}">
    <!-- Custom Stylesheet -->
    <link href="@{'public/quixlab/css/style.css'}" rel="stylesheet">
    
     #{get 'moreStyles' /}

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="@{SalasVirtuais.indexProfessores()}">
                    <b class="logo-abbr"><img src="@{'public/quixlab/images/logo.png'}" alt=""> </b>
                    <span class="logo-compact"><img src="@{'public/quixlab/./images/logo-compact.png'}" alt=""></span>
                    <span class="brand-title">
                       <marquee><h1 style="color: white"><strong>GameCA</strong></h1></marquee>
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    
                                    <a href="javascript:void()" class="d-inline-block">
                                    </a>
                                </div>
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                   
                                    <a href="javascript:void()" class="d-inline-block">
                                     
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                   
                                    
                                </div>
                            </div>
                        </li>
                       
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <a href=""> ${session.get("nomeProfessor")}</a>
                                
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        
                                        
                                        <hr class="my-2">
                                        <li><a href="@{Login.logout()}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
       
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Turmas Virtuais</span>
                        </a>
                        <ul aria-expanded="false">
                        	<li><a href="@{SalasVirtuais.formSalasVirtuais()}">Criar nova turma</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

     <div class="content-body">
            <div class="container-fluid mt-3">
            	#{doLayout /}
            </div>
            <!-- #/ container -->
        </div>

    <script src="@{'public/quixlab/plugins/common/common.min.js'}"></script>
    <script src="@{'public/quixlab/js/custom.min.js'}"></script>
    <script src="@{'public/quixlab/js/settings.js'}"></script>
    <script src="@{'public/quixlab/js/gleek.js'}"></script>
    <script src="@{'public/quixlab/js/styleSwitcher.js'}"></script>

    <!-- Chartjs -->
    <script src="@{'public/quixlab/./plugins/chart.js/Chart.bundle.min.js'}"></script>
    <!-- Circle progress -->
    <script src="@{'public/quixlab/./plugins/circle-progress/circle-progress.min.js'}"></script>
    <!-- Datamap -->
    <script src="@{'public/quixlab/./plugins/d3v3/index.js'}"></script>
    <script src="@{'public/quixlab/./plugins/topojson/topojson.min.js'}"></script>
    <script src="@{'public/quixlab/./plugins/datamaps/datamaps.world.min.js'}"></script>
    <!-- Morrisjs -->
    <script src="@{'public/quixlab/./plugins/raphael/raphael.min.js'}"></script>
    <script src="@{'public/quixlab/./plugins/morris/morris.min.js'}"></script>
    <!-- Pignose Calender -->
    <script src="@{'public/quixlab/./plugins/moment/moment.min.js'}"></script>
    <script src="@{'public/quixlab/./plugins/pg-calendar/js/pignose.calendar.min.js'}"></script>
    <!-- ChartistJS -->
    <script src="@{'public/quixlab/./plugins/chartist/js/chartist.min.js'}"></script>
    <script src="@{'public/quixlab/./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js'}"></script>



    <script src="@{'public/quixlab/./js/dashboard/dashboard-1.js'}"></script>
    
    #{get 'moreScripts' /}

</body>

</html>
