#{extends 'main-login.html' /}
#{set title:'Entrar em nova turma' /}


  <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="index.html"> <h4>Informe o código da turma</h4></a>
                                <form  action="@{SalasVirtuais.autenticarCodigo()}"  class="mt-5 mb-3 login-input"> 
                                    <div  class="form-group" >
                                   	 	 	 <input name="codigo" type="text-center" class="form-control" placeholder="Código" required>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Entrar</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
       