#{extends 'main-alunos.html' /}
#{set title:'Centro de Aprendizagem Virtual' /} 


 #{ set 'moreStyles'}
 	#{stylesheet 'play-pagination.css' /}
 #{/set}


 
 <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                               
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            <a href="@{Mensagens.encontrarFeed(sala.id)}"><button style = "float: right"  type="button" class="btn mb-1 btn-secondary">Feed</button></a>
                            <a href="@{Tabuleiros.indexTabuleiroAlunos(sala.id)}" style = "float: right" type="button" class="btn mb-1 btn-danger">Tabuleiro</a>
                            <a href="@{CentrosAprendizagem.rankingAluno(teste = sala.id)}"><button type="button" style = "float: right" type="button" class="btn mb-1 btn-success">Ranking</button></a>
                                <h4 class="card-title">Informações</h4>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home8"><span><i class="ti-home"></i></span></a>
                                    </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile8"><span><i class="ti-user"></i></span></a>
                                    </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages8"><span><i class="ti-email"></i></span></a>
                                    </li>

                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabcontent-border">
                                    <div class="tab-pane fade show active" id="home8" role="tabpanel">
                                    
                                    <table action="@{SalasVirtuais.mostrarSalaProfessores}" class="table table-bordered verticle-middle">
                                	<h4 class="card-title" style = "color:  #daa520">Confira os melhores jogadores da turma!</h4>
                                		<div class="basic-list-group">
                                    	<ul class="list-group">
                                       <table  class="table table-striped table-bordered zero-configuration">
                               			<thead>
                                            	<tr>
													<th style = "background: #daa520; color: white; position: center">Colocação</th>                                            	
                                            		<th style = "padding: 8px; width: 490px; height:50px ; margin-top: 1px; margin-left: 23px; margin-right: 15px; background: #daa520; color: white; position: center">Jogador</th>
                                                	<th style = "background: #daa520; color: white; position: center">Pontuação</th>
                                            	</tr>
                                        	</thead>
                                        #{list items:1..listaPodio.size(), as:'i'}
 											<tbody>
       											#{list items: listaPodio.get(i - 1), as: 'jogador'}
       											<td>${i}°</td>
            									<td>${jogador.nome}</td>
            									<td>${jogador.getPontosPorSala(salaVirtual)}</td>
            									#{/list} 
        									</tbody>
        								#{/list} 
         							 </ul>
                             	</div>
                         	</table>
                                     <table action="@{SalasVirtuais.autenticarCodigo}" class="table table-bordered verticle-middle">
                                     <table action="@{SalasVirtuais.mostrarSalaAlunos}" class="table table-bordered verticle-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">Turma</th>
                                                <th scope="col">Disciplina</th>
                                                <th scope="col">Dia</th>
                                                <th scope="col">Horário(h)</th>
                                                <th scope="col">Sala</th>
                                                <th scope="col">Bloco</th>
                                                <th scope="col">Código</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${sala.nomeTurma}</td>
                                                <td>${sala.disciplina}</td>
                                                <td>${sala.dia}</td>
                                                <td>${sala.horario}</td>
                                                <td>${sala.sala}</td>
                                                <td>${sala.bloco}</td>
                                                <td>${sala.codigo}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    
                                     <div class="tab-pane fade" id="profile8" role="tabpanel">
                                     		<h4>Alunos inscritos</h4>
                                   			<div class="table-responsive">
                                    		<table class="table table-striped table-bordered zero-configuration">
                                       		<thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Matrícula</th>
                                            </tr>
                                        	</thead>
                                        	<tbody>
                                        	#{paginate.list items: listaPaginadaAlunos, as: 'aluno'}
                                            <tr>
                                                <td>${aluno.nome}</td>
                                                <td>${aluno.matricula}</td>
                                                
                                            </tr>
                                        	 #{/paginate.list}
                                        	 #{paginate.controls items:listaPaginadaAlunos/}
                                          </table>
                               		  </div>
                               		  </div>    
                                  
									<div class="tab-pane fade" id="messages8" role="tabpanel">
 											<h4 style = "color: #228B22; position: center">CAs cadastrados</h4>
 											 #{list items: listaCas, as: 'cas'}
                                             <div class="card-content" >
                                    			<div class="alert alert-primary"><a href="#" class="alert-link">Assunto: ${cas.assunto}, realizado em ${cas.data} às ${cas.horario}.</a></div>
                                    		</div>
                                    		#{/list}
                                    		   
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>